<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        

    <title>About</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <h1><b>About</b></h1>
    <p>Short biogprahy about Michael Jackson</p>
    <p style="width:750px;">Michael Joseph Jackson (August 29, 1958 – June 25, 2009) was an American singer, songwriter, and dancer.
         Dubbed the "King of Pop", he is regarded worldwide as one of the most significant cultural figures of the 20th century for his contributions to music, dance,
          and fashion, along with his publicized personal life
    </br>

    He influenced artists across many genres, and through stage and video performances, popularized complicated dance moves such as the moonwalk,
     to which he gave the name, and the robot. He is the most awarded music artist in history and one of the best-selling music artists of all time,
      with estimated sales of over 350 million records worldwide.</p>
    
{% endblock %}
</body>
</html>