<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gallery</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>Short gallery with Michael Jackson</h1> <br>

<img src="{{ url_for('static', filename='michael1.jpg') }}" alt="michael1" width="400" height="500">
<img src="{{ url_for('static', filename='michael22.jpg') }}" alt="michael3" width="400" height="500" >
<img src="{{ url_for('static', filename='michael3.jpg') }}" alt="michael3" width="400" height="500" ><br>
<p><a href="{{ url_for('index') }}" style="color:red">Go back to main page</a></p>




</body>
</html>

