<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home page</title>
</head>
<body>
<h1> Home Page
</h1>
<img src="{{ url_for('static', filename='cat.jpg') }}" alt="Cat" width="400" height="500" style="vertical-align:middle;"><br>
<p><a href="{{ url_for('gallery') }}">Go to gallery</a></p>
<p><a href="{{ url_for('contact') }}">Go to my email info </a></p>
<p><a href="{{ url_for('about') }}">Go to my personal information</a></p>



</body>
</html>